motor==2.5.1
pymongo==3.12.3
dnspython==2.3.0
python-dotenv==1.0.0
asyncio==3.4.3
aiohttp==3.9.3
aiofiles
pyrogram @ https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
telethon==1.33.1
tgcrypto
pyrofork 
py-tgcalls==1.2.9
ntgcalls==1.1.2
opencv-python-headless==4.9.0.80
pillow==9.5.0
ffmpeg-python
pytube
pydub
moviepy
mpv
beautifulsoup4
bard
requests
httpx==0.25.2
youtube_search
youtube-search-python
gtts
spotipy
search_engine_parser
wget
phonenumbers
unidecode
lyricsgenius
psutil
Faker
pycountry
pyyaml==6.0.1
pykeyboard
pyshorteners
pyfiglet
qrcode
emojis
heroku3
gitpython
apscheduler
hachoir
speedtest-cli
future==0.18.3
openai==0.28.0
deepai
gpytranslate
lexica-api==1.4.7
pornhub-api==0.2.0
git+https://github.com/AsmSafone/SafoneAPI
blackpink
yt-dlp
telegraph==2.2.0

