aiofiles
apscheduler
bard
beautifulsoup4
blackpink
deepai
dnspython==2.3.0
emoji
fastapi
ffmpeg-python
Faker
gitpython
httpx==0.25.2
lyricsgenius
motor==2.5.1
mpv
moviepy
openai>=0.20.0
phonemumbers
psutil
py-cpuinfo
pycountry
pymongo==3.12.3
pyshorteners
python-dotenv
pyrogram
pytube
qrcode
requests
speedtest-cli
spotipy
telegraph==2.2.0
telethon==1.33.1
tgcrypto
unidecode
uvicorn
wget
yt-dlp
